.contrast2 {
    -webkit-filter: contrast(90%) ;
    filter: contrast(90%);
}

/* 
//글자 왼쪽 정렬 */
.outer2 {
    position: relative;
}
.bottomleft {
    position: absolute;
    bottom: 10%;
    left: 16px;
    font-size: 18px;
  }