.Article {
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Exercise {
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Info {
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Mainpage {
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.MoneyClass {
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }