.Article {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Exercise {
    

    margin:2px;
    padding: 2px;
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
  .ExerciseHead {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 3px;
    border-color:black;
}
.Info {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Mainpage {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.MoneyClass {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }