
.SelftrainSidebar {
    width: 20%;
    /* height: ; */
    margin-top: 50px;
    
    /* padding-right: 3px; */
    text-align: center;
    font-size: 30px;
    /* border-style:solid */
    /* border-radius: 3px; */
    /* border-color:black; */
  }
.SelftrainCardlist {
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    /* border-style: dotted;
    border-radius: 3px;
    border-color:black; */
  }



