/* .chart-board {
    display: inline-block;
    z-index: 1;
}

.chart-title {
    border-style : none;
    font-weight: bold;
    font-size : 40px;
}

.chart-item {
    border-style : none;
    font-size : 30px;
} */
