.Community {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.Selftrain {
    margin:2px;
    padding: 2px;
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

}
.SelftrainHead {
  margin-top: 50px;
  padding: 10px;
  text-align: left;
  font-size: 30px;
  /* border-style: dotted;
  border-radius: 3px;
  border-color:black; */
}
.SelftrainCarousel {
  
  padding: 10px;
  font-size: 30px;
  border-style: dotted;
  border-radius: 3px;
  border-color:black;
}
.CarouselImg {
  width:50%;
  /* color: black; */
  /* text-align: center; */
  justify-content: center;
}
/* .img {
  text-align: center;
  justify-content: center;
  justify-items: center;
} */
.Info {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
  
  }
.Mainpage {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }
.VideoClass {
    width: 100%;
    height: 800px;
    text-align: center;
    font-size: 30px;
    border-style: dotted;
    border-radius: 1px;
    border-color: green;

  }

