.Classes-Card {
  background: #fff;
  display: flex;
  flex-direction: flex-start;
  /* align-items: center; */
  border-radius: 30px;
  border: none;
  max-width: 370px;
  max-height: 550px;
  /* padding: 30px; */
  /* box-shadow:  1px 3px rgba(0, 0, 0, 0.2); */
  transition-timing-function: all 0.2s ease-in-out;
  margin-bottom: 50px;
  margin-left: 30px;
}

h1 {
  font-size: 70px;
}

.Classes-Card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}


.Classes-Img {
  margin-bottom: 15px;
  border-radius: 30px;
  height: 350px;
  width: 370px;
}


.Classes-Trainer {
  /* text-align: left; */
  font-family: 'payboocMedium';
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}


.Classes-Title {
  font-size: 1.75rem;
  font-family: 'payboocMedium';
  /* text-align: left; */
  margin-bottom: 10px;
  color: black;
}


.Classes-Price {
  /* text-align: left; */
  font-weight: bolder;
  font-family: 'payboocMedium';
  color: black;
  font-size: 2.3rem;
}



p {
  font-size: 30px;
  
}

.upload {
  text-align: center;
  background-color:#77DD77;
  font-family: 'payboocMedium';
  
}

.btntext {
  font-family: 'payboocMedium';
  color: black;
}