.arrown {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: aliceblue;

}

.image-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contrast {
    -webkit-filter: contrast(20%) ;
    filter: contrast(20%);
}

